.defaultLabel{
    display: inline-block;
    width: 56px;
    color: #373A3C;
    font-size: 14px;
    font-weight: normal;
}
.defaultSelect{
    width: 140px;
    margin-left: 9px;
    border:none;
    border-bottom: 1px solid #DDDDDD;
    color: #1C7CD5;
    font-size: 10px;
    cursor: pointer;
}