.Pagination{
  width: 1086px;
  text-align: center;
  height:40px;
  .buttonSty{
    border:1px solid #ccc;
    height:40px;
    width:40px;
    color:#1C7CD5;
    font-size:16px;
    font-family: "Helvetica Neue", sans-serif;
    background-color:#fff;
  }
  .buttonSty1{
    border:1px solid #ccc;
    height:40px;
    width:40px;
    color:#fff;
    font-size:16px;
    font-family: "Helvetica Neue", sans-serif;
    outline:none;
    background-color: #1C7CD5;
  }
}
