$boder-color: #c0def6;
/*---create by lgm--*/
.content .h-lgm{
    height: 152px;
}

.progress-Lgm{
    width: 100%;
    height: 200px;
    position: relative;
}
.numberLgm{
    position: relative;
    width: 862px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10px;
    background-image: linear-gradient(to right,#F0AD4E,#D9534F);
    overflow: visible;
    span{
        display: inline-block;
        text-align: center;
        width: 60px;
        height: 60px;
        line-height: 60px;
        color: #fff;
        font-size: 28px;
        background-color: #F0AD4E;
        border-radius: 50%;
        margin-top: -25px;
        &:nth-of-type(2){
            background-color: #EB984E;
        }
        &:nth-of-type(3){
            background-color: #E5814E;
        }
        &:nth-of-type(4){
            background-color: #DF6B4F;
        }
        &:nth-of-type(5){
            background-color: #D9544F;
        }
    }
    .p{
        position: absolute;
        top: -32px;
        left: -7px;
        width: 74px;
        height: 74px;
        border: 7px solid rgba(237, 157, 78, 0.3);
        border-radius: 50%;
        &:nth-of-type(2){
            top: -32px;
            left: 194px;
        }
        &:nth-of-type(3){
            top: -32px;
            left: 394px;
        }
        &:nth-of-type(4){
            top: -32px;
            left: 595px;
        }
        &:nth-of-type(5){
            top: -32px;
            left: 795px;
        }
    }
}
.progressBox{
    width: 904px;
    margin: 70px auto 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .otherP{
        display: inline-block;
        width: 96px;
        height: 96px;
        border: 3px solid rgba(129, 138, 145, 0.3);
        border-radius: 50%;
        .spanContent{
            font-size: 12px;
            color: #818A91;
            font-weight: bold;
        }
    }
    .currentP{
        display: inline-block;
        width: 96px;
        height: 96px;
        border: 3px solid hsla(190, 88%, 52%, 0.3);
        border-radius: 50%;
        .spanContent{
            font-size: 12px;
            color: #D9534F;
            font-weight: bold;
        }
    }
    span{
        display: block;
        text-align: center;
    }
    .spanTitle{
        font-size: 14px;
        color: #AEB1B3;
        font-weight: bold;
        margin-bottom: 7px;
        margin-top: 5px;
    }
    .btmTime{
        font-size: 10px;
        color: #95989A;
        span{
            margin-top: 30px;
            width: 100px;
            text-align: left
        }
    }
}

.shipper-information{
    position: relative;
    width: 100%;
    height: 68px;
    border: 1px solid $boder-color;
    border-radius: 4px;
    margin-top: 50px;
    padding-left: 8px;
    padding-top: 31px;
    p{
        span{
            &:nth-of-type(2){
                margin-left: 37px;
                display: inline-block;
                width: 431px;
                line-height: 20px;
                color: #1C7CD5;
                font-size: 10px;
                border: 1px solid #DDDDDD{
                    top:0;
                    left:0;
                    right: 0;
                };
            }
        }
    }
}
.fixSpan-lgm{
    position: absolute;
    top: -12px;
    left: 32px;
    background-color: #fff;
    display: block;
    width: 80px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    border: 1px solid $boder-color;
    font-size: 14px;
    color: #1C7CD5;
}
.goods-information{
    height: 250px;
    position: relative;
    width: 100%;
    border: 1px solid $boder-color;
    border-radius: 4px;
    margin-top: 50px;
    padding-left: 8px;
    padding-top: 31px;
}

.goods-lgm{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 130.5px;
    div{
        padding-bottom: 21px;
    }
}
.transportation-information{
    width: 100%;
    height: 138px;
    position: relative;
    border: 1px solid $boder-color;
    border-radius: 4px;
    margin-top: 50px;
    padding-left: 8px;
    padding-top: 31px;
}

.start-lgm{
    margin-top: 62.4px;
    margin-bottom: 62.4px;
    span{
        margin: 0 auto;
        width: 240px;
        height: 40px;
        display: block;
        border: 1px solid $boder-color;
        text-align: center;
        line-height: 40px;
        border-radius: 40px;
        cursor: pointer;
        color: #1C7CD5;
        &:hover{
            background-color: $boder-color;
            color: #fff
        }
    }
}
/*---create by syz--*/
.syz_ai{
  height: 126px;
  float: left;
  box-sizing: border-box;
}
.syz_box_ai{
  width:1086px;
  height:73.5px;
  border:1px solid #C0DFF6;
  position: relative;
  padding-left: 8px;
  display: flex;
  align-items:center;
  margin-top: 50px;
  box-sizing:border-box;
  border-radius: 4px;
}
.syz_title_ai{
  width: 80px;
  height: 24px;
  border:1px solid #C0DFF6;
  position: absolute;
  left: 32px;
  top:-12px;
  background-color: white;
  text-align: center;
  span{
    text-align: center;
    color: #1C7CD5;
  }
}
.syz_content_ai{
  span{
    margin-right: 37px;
    font-size: 14px;
    font-family: Helvetica Neue;
    display: inline-block;
    width: 28px;
    height: 19px;
  }
  input{
    width: 48px;
    margin-right: 36px;
    border: none;
    border-bottom: 1px solid #CCC;
    color: #1C7CD5;
    font-size: 10px;
  }
  button{
    background-color: white;
    border: none;
    margin-left: 85px;
    color: #1C7CD5;
    cursor: pointer;
  }
}
/*---------------*/
.syz_box_wz {
  width:1086px;
  border:1px solid #C0DFF6;
  position: relative;
  margin-top: 50px;
  padding-left: 8px;
  box-sizing:border-box;
  border-radius: 4px;
  float: left;
}
.syz_title_wz{
  @extend .syz_title_ai;
  span{
    text-align: center;
    color: #1C7CD5;
  }
}
.syz_content_wz {
  height: 73.5px;
  line-height: 73.5px;
  span{
    font-size: 14px;
    font-family: Helvetica Neue;
    margin-right: 9px;
  }
  input{
    border: none;
    border-bottom: 1px solid #CCC;
    color: #1C7CD5;
    font-size: 10px;
    margin-right: 26.5px;
    width: 260px;
    height: 20px;
  }
}
.syz_table_wz{
  width: 1084px;
  border-collapse:collapse;
  padding-left: 8px;
  margin-left: -8px;
  font-size: 12px;
  thead{
    background-color: #ECEEEF;
  }
  th{
    text-align: left;
    padding-left: 8px;
    height: 40px;
    color : #55595C;
  }
  td {
    border-bottom: 1px solid #ECEEEF;
    padding: 22px 0 12px 8px;
    color: #1C7CD5;
  }

  td:nth-child(3){
    color: #D9534F;
  }
  td:nth-child(10){
    color: #373A3C;
    width: 620px;
  }
}
.syz_button {
  width: 344px;
  height: 40px;
  margin: 56px auto 0;
  margin-bottom: 31.5px;
  button {
    width: 140px;
    height: 40px;
    border-radius: 40px;
    background-color: white;
    border: none;
    border: 1px solid #C0DFF6;
    color: #1C7CD5;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    &:hover{
      background-color: $boder-color;
      color: #fff
    }
  }
}
.syz_last_tr{
  width: 100%;
  font-size: 12px;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #ECEEEF;
  span:nth-child(1){
    padding-right: 50px;
    color: #373A3C;
  }
  span:nth-child(2){
    padding-right: 77px;
    color: #D9534F;
    font-weight: bold;
  }
  span:nth-child(3){
    color: #1C7CD5;
    font-weight: bold;
  }
}
/*---------------*/

.instore-result {
  position: relative;
  float: left;
  width: 1086px;
  height: 74px;
  margin: 50px 0 10px 0;

  font-size: 14px;
  border: 1px solid #C0DFF6;
  border-radius: 4px;
  .result-title {
    position: absolute;
    top: -12px;
    left: 32px;

    width: 80px;
    height: 24px;

    text-align: center;
    line-height: 24px;
    color: #559DDF;

    border: 1px solid #C0DFF6;
    background-color: #fff;
  }
  .result-cont {
    width: 898px;
    margin: 26px 0 0 14px;
  }
  .im-info {
    color: #559DDF;
  }
}
