.floatL{
  float: left;
}
.floatR{
  float: right;
}
body{
  margin: 0;
  padding: 0;
  .container-Materials{
    width:1280px;
    margin: 0 auto;
    .right-Materials{
      width:1147px;
      .Materials-top{
        width:1110px;
        height:49px;
        background-color: #DDDDDD;
        border-radius: 3px;
        margin:24px 24px;
        .Materials-top-title{
          height:49px;
          line-height:49px;
          .titleFont{
            margin:0 18px;
            font-size: 16px;
            font-family: "Helvetica Neue", sans-serif;
            color:#1C7CD5;
            cursor: pointer;
          }
          .radioDiv{
            display:inline-block;
            ._titleFont{
              margin:0 10px;
              font-size: 16px;
            }
          }
        }
      }
      .material-content{
        width:1084px;
        margin-left:25px;
        .material-content-top{
          width:100%;
          margin:34px auto;
          text-align: center;
          .titleFont{
            font-size: 20px;
            font-family: "Helvetica Neue", sans-serif;
          }
        }
        .material-form-top{
          width:100%;
          height:196px;
          border:0.3px solid #ccc;
          .formRow{
            width:205px;
            height:20px;
            line-height:20px;
            display:inline-block;
            .formNameF{
              font-family: "Helvetica Neue", sans-serif;
              font-size: 14px;
              display: inline-block;
              width: 56px;
            }
            .formInput{
              margin-left: 7px;
              width:140px;
              font-family: "Helvetica Neue", sans-serif;
              font-size: 10px;
              display: inline-block;
              border:none;
              border-bottom: 1px solid #DDDDDD;
            }
          }
        }
        .material-form-bottom{
          width:100%;
          height:116px;
          margin-top:32px;
          border:0.3px solid #ccc;
          .formSmallRow{
            width:165px;
            height:20px;
            line-height:20px;
            display:inline-block;
            .formNameFS{
              font-family: "Helvetica Neue", sans-serif;
              font-size: 14px;
              display: inline-block;
              width: 56px;
            }
            .formInputS{
              margin-left: 7px;
              width:100px;
              font-family: "Helvetica Neue", sans-serif;
              font-size: 10px;
              display: inline-block;
              border:none;
              border-bottom: 1px solid #DDDDDD;
            }
          }
        }
      }
      .material-bottom{
        width:1084px;
        margin:24px 24px;
      }
    }
  }
}


